.authenticationContainer{
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

.leftSide{
    width: 50%;
    background-color: var(--primary_black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightSide{
    width: 50%;
    background-color: var(--primary_green);
}
.welcome-text {
    width: 70%;
    margin-top: 1rem;
}

.welcome-text h1{
    margin: 0;
    color: white;
}
.welcome-text p{
    margin: 1px 0;
    color: rgb(226, 226, 226);
    line-height: 20px;
    font-size: 16px;
}
.leftSide-container{
    width: 80%;
}

.authentication-button{
    border: unset;
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    height: 50px;
    cursor: pointer;

}
.leftSide-container a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 4rem;
    cursor: pointer;
}

.fieldError{
    color: red;
    font-size: 14px;
    margin: 1px;

}

.noFieldError{
    color: transparent;
    margin: 10px 0;

}
.input-button-fields{
    margin: 3rem 0;
}
.registration-step-container{
    border-radius: 4px;
   margin-top: 2rem;
   width: 65%;
}
.registration-step-container .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.registration-step-container .header-container p{
    color: var(--primary_green);
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.step-icon{
    background-color: white;
    color: var(--primary_green);
    font-weight: bold;
    font-size: 13px;
    width: 12%;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    float:right;
}

.authentication-button-alternate{
    background-color: transparent;
    color: var(--primary_green);
    border: 1px solid white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    
}